<div id="clover-checkout-component">

  <div class="form-wrapper">
    <form action="/charge" method="post" id="payment-form">

      <h5>Clover Payment Form Testing</h5>

      <div class="form-row top-row">
        <div id="amount" class="field card-number">
          <input name="amount" placeholder="Amount">
        </div>
      </div>

      <div class="form-row top-row">
        <div id="card-number" class="field card-number"></div>
        <div class="input-errors" id="card-number-errors" role="alert"></div>
      </div>

      <div class="form-row">
        <div id="card-date" class="field third-width"></div>
        <div class="input-errors" id="card-date-errors" role="alert"></div>
      </div>

      <div class="form-row">
        <div id="card-cvv" class="field third-width"></div>
        <div class="input-errors" id="card-cvv-errors" role="alert"></div>
      </div>

      <div class="form-row">
        <div id="card-postal-code" class="field third-width"></div>
        <div class="input-errors" id="card-postal-code-errors" role="alert"></div>
      </div>

      <div id="card-response" role="alert"></div>

      <div class="button-container">
        <button>Submit Payment</button>
      </div>
    </form>
  </div>
</div>